@import "reset.css";

body {
  background-color: #f6f9fc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top:30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas {
  width: 800px;
  height: 400px;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: -1px 4px 14px -2px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: -1px 4px 14px -2px rgba(0, 0, 0, 0.44);
  box-shadow: -1px 4px 14px -2px rgba(0, 0, 0, 0.44);
}

.controls {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.controls .controls__range {
  margin-bottom: 20px;
}
.controls .controls__btns {
  margin-bottom: 30px;
}
.controls__btns button {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 5px 15px;
  text-align: center;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1px 4px 14px -2px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: -1px 4px 14px -2px rgba(0, 0, 0, 0.44);
  box-shadow: -1px 4px 14px -2px rgba(0, 0, 0, 0.44);
}
.controls__btns button:active {
  transform: scale(0.95);
}
.controls .controls__colors {
  display: flex;

}

.controls__colors .controls__color {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: -1px 4px 14px -2px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: -1px 4px 14px -2px rgba(0, 0, 0, 0.44);
  box-shadow: -1px 4px 14px -2px rgba(0, 0, 0, 0.44);
}
